<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>4<span></span>4</h1>
        </div>
        <h2>Oops! Page Not Found</h2>
        <p>Sorry but you got lost! You can do better! :)</p>
        <a asp-action="Index">Back to homepage</a>
    </div>
</div>

@section Links {
    <link href="~/css/not-found.css" rel="stylesheet" asp-append-version="true"/>
}